body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: auto;
}

.well {
  background-color: black;
  color: white;
}

.glyphicon-search {
  font-size: 25px;
}

th {
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 400;
}

td {
  padding: 20px;
  align-items: left;
}

tr {
  width: 600px;
  align-items: left;
}

.msg {
  align-items: center;
  color: red;
  font-size: 20px;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-style: oblique;
}

a::hover {
  text-decoration: none;
}
