<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HW Search Flask</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

    <div class="container-fluid">
        <div class="container" id="header">
            <div class="page-header well">
                <h1>
                    <a href="#">
                        <span class="glyphicon glyphicon-search">&nbsp</span>
                    </a>
                    Reddit HW Search Flask App
                </h1>
                <p>Search for items within Reddit HWSwap</p>
            </div>
        </div>

        <div class="container">
            <div class="form-group">
                <form class="" action="{{ url_for('index')}}" method="post">
                    <label>What are you looking for?</label>
                    <input type="text" class="form-control" name="query" required="required">
                    <p class="help-block">Enter an item name.</p>
                    <button class="btn btn-success" type="submit" name="button">Search</button>
                </form>
            </div>
            <br /> {% if msg %}
            <span class="msg"> {{ msg }} </span> {% endif %}
        </div>

        <hr>

        <div class="container">
            {% if data %}
            <table data-toggle="table" data-sort-order="desc" data-sorter="htmlSorter">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th data-sortable="true">Location</th>
                        <th data-sortable="true">Type of Transaction</th>
                        <th>Description</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in data.items()%}
                    <tr>
                        <td>
                            {{ key | safe }}
                        </td>
                        <td>
                            {{ value['location'] | safe }}
                        </td>
                        <td>
                            {{ value['type'] | safe }}
                        </td>
                        <td>
                            {{ value['text'] | safe }}
                        </td>
                        <td>
                            <a href="{{ value['url'] | safe }}" target="_blank">Take me there!</a>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            {% endif %}
            <small><span id="searchAgain"></span></small>
        </div>
    </div>
    <hr>
    <footer>
        <p>Repo for this code in <a href="https://github.com/RorixRebel/flask-reddithwswap">Github</a> </p>
        <p>Site created by: <b>Miguel Valdes</b> </p>
    </footer>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>



</body>

</html>
