<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HW Search Flask</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Custom CSS & JS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <h1 class="text-light display-4" href="#">
        <a href="/" class="badge badge-dark">Reddit HW Search Flask App</a>
      </h1>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <form
          class="form-inline my-3 my-lg-1"
          action="{{ url_for('index') }}"
          method="POST"
        >
          <input
            class="form-control mr-sm-3"
            type="search"
            placeholder="Search in HWSwap"
            aria-label="Search"
            name="query"
            required
          />
          <button
            class="btn btn-outline-light my-2 my-sm-0 text-light"
            type="submit"
            name="button"
          >
            Search
          </button>
        </form>
      </div>
    </nav>

    <!-- 
      <span class="msg"> {{ msg }} </span> 
       -->
    <hr />
    <div class="container-fluid">
      {% if msg %}
      <div class="card bg-dark">
        <div class="mx-auto card-body text-light">{{ msg }}</div>
      </div>
      {% endif %}
      <br />
      {% if data %}
      <table class="table table-sm table-responsive">
        <thead class="thead-dark" data-toggle="table">
          <tr>
            <th scope="col" width="100rem">Location</th>
            <th scope="col">Title</th>
            <th scope="col">Type of Transaction</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in data.items()%}
          <tr>
            <td>
              {{ value["location"] }}
            </td>
            <td>
              <a href="{{ value['url'] | safe }}" target="_blank">{{
                key | safe
              }}</a>
            </td>

            <td>
              {{ value["type"] }}
            </td>
            <td>
              {{ value["text"] | wordwrap }}
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      {% endif %}
      <small><span id="searchAgain"></span></small>
    </div>

    <hr />
    <footer>
      <p>
        Repo for this code in
        <a href="https://github.com/RorixRebel/flask-reddithwswap">Github</a>
      </p>
      <p>Site created by: <b>Miguel Valdes</b></p>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
